<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supergenius.mapper.AuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.supergenius.model.Authority">
        <id column="AUTHORITY_ID" property="authorityId"/>
        <result column="AUTHORITY_NAME" property="authorityName"/>
        <result column="AUTHORITY_CONTENT" property="authorityContent"/>
        <result column="AUTHORITY_MENU" property="authorityMenu"/>
        <result column="AUTHORITY_MENU_URL" property="authorityMenuUrl"/>
        <result column="AUTHORITY_CREAT_TIME_STAMP" property="authorityCreatTimeStamp"/>
        <result column="AUTHORITY_UPDATE_TIME_STAMP" property="authorityUpdateTimeStamp"/>
        <result column="AUTHORITY_IS_DELETE" property="authorityIsDelete"/>
    </resultMap>
    <select id="isExistsByAuthorityId" resultType="java.lang.Boolean">
        SELECT IFNULL((SELECT 1
                       FROM security.security_authority
                       WHERE AUTHORITY_IS_DELETE = 0
                         AND AUTHORITY_ID = #{authorityId}
                       LIMIT 1
                          ), 0)
    </select>
    <select id="isExistsByAuthorityNameOrMenu" resultType="java.lang.Boolean">
        SELECT IFNULL((SELECT 1
        FROM security.security_authority
        WHERE AUTHORITY_IS_DELETE = 0
        <choose>
            <when test="authorityName != null and  authorityMenu != null">
                AND (
                AUTHORITY_NAME = #{authorityName} OR AUTHORITY_MENU = #{authorityMenu}
                )
            </when>
            <when test="authorityName != null">
                AND AUTHORITY_NAME = #{authorityName}
            </when>
            <when test="authorityMenu != null">
                AND AUTHORITY_MENU = #{authorityMenu}
            </when>
            <otherwise>
                AND TRUE
            </otherwise>
        </choose>
        LIMIT 1
        ), 0)
    </select>

</mapper>
